# See http://help.github.com/ignore-files/ for more about ignoring files.

# maven
/sprimberj-backend/target

# compiled output
/sprimberj-frontend/dist
/sprimberj-frontend/tmp

# dependencies
/sprimberj-frontend/node_modules
/sprimberj-frontend/bower_components

# misc
/sprimberj-frontend/.sass-cache
/sprimberj-frontend/connect.lock
/sprimberj-frontend/coverage/*
/sprimberj-frontend/libpeerconnection.log
/sprimberj-frontend/npm-debug.log
/sprimberj-frontend/testem.log
